:root{
    --Gray: hsl(0, 0%, 59%);
    --Very-Dark-Blue: hsl(209, 33%, 12%);
}

.Firstsection{
    width: 100%;
    margin-top: 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}   

.title_style{
    color: var(--Very-Dark-Blue);
    font-size: 2rem;
}

.title_style span{
    color: var(--Gray);
    font-weight: 300;
}

.intro_paragraph{
    font-size: 1rem;
}

.ping_logo{
    display: block;
    margin-bottom: 40px;
}