@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

/* 
  colors

  ### Primary

  --Blue: hsl(223, 87%, 63%);

  ### Secondary

  --Pale-Blue: hsl(223, 100%, 88%);
  --Light-Red: hsl(354, 100%, 66%);

  ### Neutral

  --Gray: hsl(0, 0%, 59%);
  --Very-Dark-Blue: hsl(209, 33%, 12%);

  for icons
  https://fontawesome.com/

*/


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  width: 100vw;
  overflow-x: hidden;
}

body {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: 'Libre Franklin', sans-serif;
  font-size: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

